div.container-wrapper {
  max-width: 754px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid black;
  justify-content: center;
  margin: 50px auto;
}

div.container-wrapper div.box {
  width: 250px;
  height: 250px;
  background-color: steelblue;
  margin: 0;
  font-size: 100px;
  font-weight: 100;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}